#1 > a:focus,
#1 > a:hover {
 background-color: #ff6600;
}

#2 > a:focus,
#2 > a:hover {
 background-color: #00beef;
}

#3 > a:focus,
#3 > a:hover {
 background-color: #ee0000;
}

#4 > a:focus,
#4 > a:hover {
 background-color: #0000aa;
}

#5 > a:focus,
#5 > a:hover {
 background-color: #66ff00;
}
