html, body {
	height: 100%;
    border: 0px;
    margin: 0px;
}

.container {
	height: 100%;
}

.hero-unit, .item {
    display: none;
    height: 100%;
    width: 100%;
    margin: 0px;
}
.red {
	background-color: #e43433;
}

.yellow, .yellow pre {
	background-color: #ffed00;
	color: black;
}

.yellow a {
	color: #7E2217;
}

.blue {
	background-color: #424590;
}

.index {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
}
